header {
    background-color: #87CEEBf8;
    color: #fff;
    text-align: center;
    padding: 10px;
}

body {
    background-color: white !important;
}

h2:first-of-type {
    background-color: #87CEEB91;
    color: white;
    padding: 25px;
    margin: 1rem auto 0 auto;
    border: 1px dashed salmon;
}

img {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 1rem auto;
    width: 205px;
    height: 180px;
    border: 1px dashed white;
    box-shadow: 10px 5px 5px #87CEEBf8;
    border-radius: 50%;
}

h3 {
    background-color: salmon;
    color: white;
    width: 300px;
    height: auto;
    margin: 0 auto 1rem auto;
    border: none;
}

.main {
    border: 2px #87CEEBf8;;
    border-style: groove double;
    background-color: #fa8072ff;
    margin: 5rem;
}

.info {
    display: flex;
    justify-content: center;
}