header {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 10px;
}

body {
    background-color: lightgray !important;
}

h2:first-of-type {
    background-color: #007a00aa;
    color: white;
    padding: 10px;
    border: 1px dashed salmon;
}

img {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 205px;
    height: 180px;
    border: 1px dashed green;
    box-shadow: 10px 5px 5px lightgreen;
    border-radius: 50%;
}

h3 {
    background-color: salmon;
    color: white;
    width: 300px;
    height: auto;
    margin: 1em auto;
    border: 1px dashed rgba(255, 255, 255, .75);
}

.main {
    border: 2px darkgray;
    border-style: groove double;
    background-image: url("background-img.JPG");
    background-position: center;
    background-size: cover;
    margin: 5rem;
}

.info {
    display: flex;
    justify-content: center;
}